.text {
  --bg-size: 400%;
  background: linear-gradient(
      90deg,
      rgb(36, 236, 243),
      rgb(235, 154, 255),
      rgb(36, 236, 243)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
